*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
header{
    background-color: #593b8b;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    padding-top: 12px;
}
.pan1{
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}
.pan{
    font-size: 23px;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
}

.pn2{
    text-align: center;
    margin-top: 25px;
}
.pn3{
    padding-top: 20px;
    font-weight: 650;
    color: rgb(240, 185, 45);
    font-size: 23px;
}
.pac{
    opacity: 0;
}
.set{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.set2{
    padding-left: 5px;
    padding-top: 8px;
    color: #593b8b;
}
a{
    text-decoration: none;
    list-style: none;
}

footer{
    margin: 26px;
    text-align: center;
    background-color: #593b8b;
    color: #fff;
    padding: 18px 20px;
    font-size: 18px;
    border-radius: 10px;
}
.exp1{
    font-size: 20px;
}